<div ng-controller="registrationCtrl">
    <!-- <h1>Registration</h1>
    <input type="text" name="firstname" id="firstname" ng-model="data.firstname">
    <input type="text" name="lastname" id="lastname" ng-model="data.lastname">
    <input type="text" name="emiratesid" id="emiratesid" ng-model="data.emiratesid">
    <input type="button" value="Save" ng-click="handlers.save()" class="btn btn-primary"> -->
    <div class="row">
        <div class="col-md-12 my-3">
            <div class="bg-mattBlackLight p-3">
                <h4 class="mb-2">Registration</h4>
                <hr class="border-mattGray">
                <form>
                    <div class="row">
                        <!-- first section -->
                        <div class="col-md-6">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="_patientName">Patient Name</label>
                                    <input type="text" class="form-control form-control-sm" id="_patientName" placeholder="Full Name">
                                </div>
                            </div>
                            <!-- dob and age -->
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="_dob">Date of Birth</label>
                                    <input type="date" data-date="" data-date-format="DD MMMM YYYY" class="form-control form-control-sm" id="_dob" ng-model="data.dob" ng-change="handlers.dateChange('_dob')">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="_age">Year</label>
                                    <input type="number" class="form-control form-control-sm" id="_age" placeholder="years">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="_age">Month</label>
                                    <input type="number" class="form-control form-control-sm" id="_age" placeholder="months">
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="_age">Days</label>
                                    <input type="number" class="form-control form-control-sm" id="_age" placeholder="days">
                                </div>
                            </div>
                            <!-- gender -->
                            <div class="form-row">
                                <div class="form-group col-md-10">
                                    <label for="_dob">Gender</label>
                                    <br>
                                    <div class="btn-group btn-block btn-group-sm" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-outline-secondary" ng-class="{active: data.gender == 'male' }" ng-click="handlers.genderClick('male')">Male</button>
                                        <button type="button" class="btn btn-outline-secondary" ng-class="{active: data.gender == 'female' }" ng-click="handlers.genderClick('female')">Female</button>
                                        <button type="button" class="btn btn-outline-secondary" ng-class="{active: data.gender == 'other' }" ng-click="handlers.genderClick('other')">Other</button>
                                    </div>
                                </div>
                            </div>
                            <!-- mobile number -->
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="_mobile" style="margin-bottom: 2px;">Mobile</label>
                                    <tags-input ng-model="data.mobile" placeholder="Enter mobile numbers" style="height:32px" max-length="10" allowed-tags-pattern="^[0-9]{10}$">
                                    </tags-input>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="_email">Email</label>
                                    <input type="email" class="form-control form-control-sm" id="_email" placeholder="abc@xyz.com" ng-model="data.email">
                                </div>
                            </div>
                        </div>
                        <!-- second section -->
                        <div class="col-md-6">
                            <!-- emirates id -->
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="_residenceID">Residence ID</label>
                                    <input type="number" class="form-control form-control-sm" id="_residenceID" placeholder="XXX-XXXX-XXXXXXX-X" pattern="^[0-9]{8}$" maxlength="15">
                                </div>
                            </div>

                            <!-- Other id -->
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="_residenceIDLabel">Other Identification ID</label>
                                    <select class="form-control form-control-sm selectpicker" data-live-search="true" ng-model="data.otherid">
                                        <option value="">-Select option--</option>
                                        <option ng-repeat="id in options.otherids" value="{{id}}">{{id}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-8">
                                    <label for="_residenceID">&nbsp;</label>
                                    <input type="number" class="form-control form-control-sm" id="_residenceID" placeholder="XXX-XXXX-XXXXXXX-X" pattern="^[0-9]{8}$" maxlength="15">
                                </div>
                            </div>
                            
                             <!-- nationality -->
                             <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="_nationality">Nationality</label>
                                    <select class="form-control form-control-sm selectpicker" data-live-search="true" ng-model="data.nationality">
                                        <option value="">--Select option--</option>
                                        <option ng-repeat="nat in options.nationalities" value="{{nat}}">{{nat}}</option>
                                    </select>
                                </div>
                            </div>
                            <!-- source -->
                            <!-- <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="_source">Source</label>
                                    <tags-input ng-model="data.source" placeholder="Search sources" style="height:35px" on-tag-adding="handlers.onTagAdding($tag)">
                                        <auto-complete source="handlers.loadTags($query)"></auto-complete>
                                    </tags-input>
                                </div>
                            </div> -->
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="_source">Source</label>
                                    <select class="form-control form-control-sm selectpicker" data-live-search="true" ng-model="data.source">
                                        <option value="">--Select option--</option>
                                        <option ng-repeat="source in options.sources" value="{{source}}">{{source}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="_othersource">&nbsp;</label>
                                    <input type="text" class="form-control form-control-sm" id="_othersource" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">SAVE</button>
                </form>
            </div>
        </div>
    </div>
</div>